@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    background-color: #F0FFF0;
    /* color: black !important; */
}
.nav-item{
    margin: 0px 10px;
}
#sign-up{
    text-align: center;
}
.banner-section{
    background-color: #F0FFF0;
    height: 576px;
}
.highlight{
    color: #21B573;
}
.banner-section .container{
    padding-top: 100px;
}
.what-we-do-section{
    margin-top: 45px;
}
.what-we-do-section .card{
    background-color: #F8FFFB;
    height: 270px;
    border: none;
    transition: all .5s;
}
.what-we-do-section .card:hover{
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
}

.getstarted-btn-2nd{
    display: none;
}
.courses .card{
    /* height: 483px; */
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    border: none;
}
.buy-now-btn{
    background:#21B573;width: 153px; height: 40px; color: white; border-radius: 33px; padding: 12px, 36px, 12px, 36px !important;
}
.card-footer{
    background: white;
    border: none;
}
.course-heading{
    font-size: 36px;
    color: rgba(65, 57, 96, 1);
    font-weight: 700;
    margin-top: 75px;
    margin-bottom: 75px;
}